//------------------------------------------------------------------------------
// BACK.SCSS *******************************************************************
// Back link/block styling, provided by the_aim_menu_trail_by_path
//------------------------------------------------------------------------------


.back {
  float: left;
  width: 100%;
  margin: em(15px) 0;
}

.back__link {
  @extend .btn;
  @extend .btn--default;
}

.back__text:before {
  content: '\00AB';
  margin: 0 em(10px) 0 0;
}


//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

}


//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {

}
