//--------------------------------------------------------------------------------
// BLOCKS.SCSS ********************************************************************
// This file is used to style all the blocks, coming from views. Also single blocks
// like search block, language switcher, social media,... are styled in this file.
//--------------------------------------------------------------------------------

//*** BLOCK ***
.block, .pane--bean {
  float: left;
  width: 100%;
  padding: em(15px);
  text-align: center;

  *:last-child {
    margin-bottom: 0;
  }
}

.block--cta,
.pane--cta {
  background-color: $white-medium;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1em;
  }
}

.pane--info {
  background-color: transparent;
}

.pane--page {
  width: 100%;
  display: block;
  overflow: hidden;
}

//*** BEANS WITH LINK WRAPPER ***
.block--has-link, .pane--bean-has-link {
  padding: 0;
}

.block__link, .pane__link {
  display: block;
  padding: 3em 1em;
  color: inherit;
}

.block__title, .pane__title {
  @extend h3;
  margin-bottom: 1em;
  font-weight: 700;
}

h2.pane__title {
  @extend h1;
  font-weight: normal;
}

.block__cta {
  margin: 0 auto;
  max-width: em(480px);
}

.pane__event--promoted {
  @include flex(1 0 auto);
  @include order(-1);
  width: 100%;
  padding: 2em 0 0;
  @include break-out(100%);
  background-color: $white;
}

.pane__become-member {
  @include flex(1 0 auto);
  @include order(0);
  margin-bottom: 3em;
  padding-top: 3em;
}

.block__cta--become-a-member-intro {
  max-width: em(640px);
}

.pane--registration {
  @include flex(1 0 auto);
  @include order(1);
  margin-bottom: $gutter/2;
  background-color: $white-dark;

  .pane__title {
    @include font(20);
  }

  .btn--more {
    background-color: shade($white-dark, 20%);
    border-color: shade($white-dark, 25%);

    &:hover {
      background-color: shade($white-dark, 25%);
      border-color: shade($white-dark, 30%);
    }
  }

  li::before {
    content: '';
    display: inline-block;
    margin-right: .7em;
    width: em(18px);
    height: em(18px);
    vertical-align: sub;
    background-image: url("../img/list-checked.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/list-checked.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/list-checked.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/list-checked.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/list-checked.svg") no-repeat 0 0;
    background-size: contain;
  }

  &:hover {
    background-color: shade($white-dark, 5%);
  }
}

.pane__full-member {
  background-color: $highlight-dark;
  color: $white;

  .btn--more {
    background-color: shade($highlight-dark, 20%);
    border-color: shade($highlight-dark, 25%);

    &:hover {
      background-color: shade($highlight-dark, 25%);
      border-color: shade($highlight-dark, 30%);
    }
  }

  li::before {
    background-image: url("../img/list-checked-neg.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/list-checked-neg.svg") no-repeat 0 0;
    background-size: contain;
  }

  &:hover {
    background-color: shade($highlight-dark, 5%);
  }
}

.pane__standard-member {
  background-color: $highlight-medium;
  color: $white;

  .btn--more {
    background-color: shade($highlight-medium, 20%);
    border-color: shade($highlight-medium, 25%);

    &:hover {
      background-color: shade($highlight-medium, 25%);
      border-color: shade($highlight-medium, 30%);
    }
  }

  li::before {
    background-image: url("../img/list-checked-neg.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/list-checked-neg.svg") no-repeat 0 0;
    background-size: contain;
  }

  &:hover {
    background-color: shade($highlight-medium, 5%);
  }
}

.pane--bean-has-link > .pane__link {
  text-decoration: none;
}

.pane__find-therapist {
  @include break-out(100%);
  background-color: $blue-medium;
  color: $white;

  .pane__link {
    padding: 3em;
  }

  .btn--more {
    background-color: shade($highlight-dark, 5%);
    border-color: shade($highlight-dark, 10%);

    &:hover {
      background-color: shade($highlight-dark, 10%);
      border-color: shade($highlight-dark, 15%);
    }
  }

  .pane__title {
    margin: 0 0 0.7em;
    font-family: $notoserif;
    font-weight: normal;
    @include font(22, 1.2, 16);
  }

  &:hover {
    background-color: shade($blue-medium, 5%);
  }
}

.pane__contact-us {
  @include break-out(100%);
  background-color: $white-dark;
  color: $black;

  .pane__link {
    padding: 3em;
  }

  .btn--more {
    background-color: shade($highlight-dark, 5%);
    border-color: shade($highlight-dark, 10%);

    &:hover {
      background-color: shade($highlight-dark, 10%);
      border-color: shade($highlight-dark, 15%);
    }
  }

  .pane__title {
    margin: 0 0 0.7em;
    font-family: $notoserif;
    font-weight: normal;
    @include font(22, 1.2, 16);
  }

  &:hover {
    background-color: shade($white-dark, 5%);
  }
}

.pane__sponsor-banner {
  float: left;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 2em 0;
  @include break-out();
  background-color: $grey-medium;

  .node-sponsor {
    text-align: center;
    padding: $gutter/2;
  }
  .odd {
    @include span-columns($grid-columns/2);
  }
  .even {
    @include span-columns($grid-columns/2 omega);
  }
  .third {
    clear: left;
  }
  img {
    width: auto;
    vertical-align: bottom;
  }
}

.pane__symposium-cta {
  width: 100%;
  @include break-out();
  background-color: $white;
}

.pane__member-advantages {
  background-color: $highlight-dark;
  color: $white;

  .pane__title {
    font-family: $notoserif;
  }

  .btn--more {
    background-color: shade($highlight-dark, 20%);
    border-color: shade($highlight-dark, 25%);

    &:hover {
      background-color: shade($highlight-dark, 25%);
      border-color: shade($highlight-dark, 30%);
    }
  }

  li::before {
    content: '';
    display: inline-block;
    margin-right: .7em;
    width: em(18px);
    height: em(18px);
    vertical-align: sub;
    background-image: url("../img/list-checked-neg.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/list-checked-neg.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/list-checked-neg.svg") no-repeat 0 0;
    background-size: contain;
  }

  &:hover {
    background-color: shade($highlight-dark, 5%);
  }
}

.pane__submenu {
  display: block;
  width: 100%;
}

.submenu__item-link {
  position: relative;
  display: block;
  padding: 1.5em 0;
  text-decoration: none;
  color: $white;
  @include break-out($gutter, 'left');
  margin-top: 1em;
  margin-right: $gutter * -1;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-right: em(50px) + 2em + $gutter;
  padding-bottom: 1em;
  background-color: tint($highlight-light, 30%);
  text-decoration: none;
  color: $white;

  &:hover {
    background-color: tint($highlight-light, 25%);
  }

  &::after {
    content: '';
    position: absolute;
    right: 1em + $gutter;
    top: 50%;
    display: block;
    margin-top: em(-25px);
    width: em(50px);
    height: em(50px);
    background-image: url("../img/right-chevron.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/right-chevron.svg") no-repeat 0 0;
    background-size: contain;
  }

  &:hover::after {
    animation: start .4s;
  }
}

.submenu__item-title {
  margin-bottom: 1.25em;
  padding-top: 1.25em;
  @include font(20);
  font-family: $notoserif;
  font-weight: 800;
}

//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

}

//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

  .pane__event--promoted {
    padding-bottom: 3em;
  }

  .pane__become-member {
    @include display(flex);
    @include flex-direction(column);
    padding-top: 1em;

    .pane__title {
      margin-top: 0.9em;
    }

    .block__cta {
      margin-bottom: auto;
    }
  }

  .pane--registration {
    @include display(flex);
    @include flex-direction(column);
    @include flex(0 1 auto);
    width: 40%;

    .pane__link {
      @include display(flex);
      @include flex-direction(column);
      @include flex(1 0 auto);
    }
    .layout__pane {
      @include display(flex);
      @include flex-direction(column);
      @include flex(1 0 auto);
      //height: 100%;
    }
    .block__cta {
      @include display(flex);
      @include flex-direction(column);
      @include flex(1 0 auto);
    }
    .cta {
      @include display(flex);
      @include flex-direction(column);
      @include flex(1 0 auto);
    }
    .layout__text {
      margin-bottom: 1.5em;
    }
    .btn--more {
      margin: auto auto 0 auto;
    }
  }

  .pane__full-member {
    @include transform(scale(1.1));
  }

  .pane__find-therapist {
    margin-left: 0;
    padding-left: 0;

    .pane__link {
      padding-bottom: 4em;
    }

    .pane__title {
      margin-top: 1em;
    }
  }

  .pane__sponsor-banner {
    .odd,
    .even,
    .third {
      @include span-columns($grid-columns/4);
    }
    .fourth {
      @include span-columns($grid-columns/4 omega);
    }
    .third {
      clear: none;
    }
  }

  .pane__member-advantages {
    margin-left: 0;
    padding-left: 0;
    @include display(flex);
    @include flex-direction(column);

    .pane__link {
      @include display(flex);
      @include flex(1 0 auto);
      margin-top: auto;
    }
  }

  .pane__symposium-cta {
    margin-right: 0;
    padding-right: 0;
  }

  .pane__submenu {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  .submenu__item-link {
    @include flex(1 1 auto);
    @include box-sizing(border-box);
    margin: 1em 0;
    width: 33%;
    padding: 1em 4em 1em 1em;

    &::after {
      right: 0.5em;
    }
  }
}

//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {
  .pane__become-member {
    width: 100%;
  }

}

//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {
  .pane--registration {
    width: 35%;
  }

}
