//------------------------------------------------------------------------------
// BREADCRUMB.SCSS *************************************************************
// Default breadcrumb styling
//------------------------------------------------------------------------------


#breadcrumb {
  float: left;
  width: 100%;
  margin-bottom: em(20px);
  color: $grey-dark;
}

.breadcrumb__title {
  display: none;
}

.breadcrumb__list {
  @include reset-list;
  @include break-out(100%, left);
  display: none;
  background-color: tint($highlight-medium, 30%);
  padding-right: (5px);
}

.breadcrumb__item {
  @include prefixer(transform, skew(30deg, 0deg), webkit ms spec);
  display: inline-block;
  margin: 0;
  padding: 0 em(20px);
  background-color: tint($highlight-medium, 30%);
  border-left: em(7px) solid $white-medium;

  &:hover {
    background-color: tint($highlight-medium, 10%);
    color: $blue-dark
  }

  &.last {
    cursor: default;
    margin-right: em(5px);

    &:hover {
      background-color: tint($highlight-medium, 30%);
      color: inherit
    }
  }
}

.breadcrumb__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.breadcrumb__text {
  @include prefixer(transform, skew(-10deg, 0deg), webkit ms spec);
  display: inline-block;
  color: inherit;
}

.breadcrumb__back {
  @include prefixer(transform, skew(10deg, 0deg), webkit ms spec);
  display: inline-block;
  margin: 0 em(5px);
  padding: em(5px) em(20px);
  background-color: tint($highlight-medium, 10%);
  color: $blue-dark;

  &:hover {
    background-color: tint($highlight-medium, 0%);
  }
}


//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

  #breadcrumb {
    margin-bottom: em(20px);
  }

  .breadcrumb__title {
    display: inline-block;
    @include element-invisible;
  }

  .breadcrumb__list {
    display: inline-block;
    line-height: em(35px);
  }

  .breadcrumb__text {
    @include prefixer(transform, skew(-30deg, 0deg), webkit ms spec);
    display: inline-block;
  }

  .breadcrumb__back {
    display: none;
  }

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

}


//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {

}
