//------------------------------------------------------------------------------
// COOKIES.SCSS ******************************************************************
// Default styling for cookies popup (from eu_cookie_compliance_popup module)
//------------------------------------------------------------------------------


//*** Cookie popup ***
#sliding-popup {

  &.sliding-popup-bottom {
    position: fixed;
  }
}
.popup-content {
  padding: em(20px) em(10px);

  .btn {
    margin-bottom: em(10px);
  }
}



//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

}


//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {

}
