//------------------------------------------------------------------------------
// FILE.SCSS *******************************************************************
// Default file styling.
//------------------------------------------------------------------------------


//*** FILE OVERVIEW ***
div.file {
  float: left;
  width: 100%;
  margin-bottom: em(20px);

  img {
    margin-right: em(2px);
  }
}


//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

}


//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {

}
