//--------------------------------------------------------------------------------
// MENUS.SCSS ********************************************************************
// This file is used to style the different menus of the website. Use the class
// .js-nav-toggle to make the menu dropdown for mobile.
//--------------------------------------------------------------------------------


//*** GENERAL ***
.nav__list {
  @include reset-list;
}

.nav__link {
  display: block;
  text-decoration: none;
  @include transition(all 0.2s ease-in-out);
}


//*** MOBILE MENU ***
.nav__mobile {
  background-color: $highlight-medium;
  overflow: visible;

  &.contextual-links-region {
    position: static !important;
  }

  .nav__title {
    position: absolute;
    top: 0;
    right: $gutter/2;
    width: auto;
    height: auto;
    padding: $gutter/2;
    font-weight: 700;
    @include font(18);
    text-transform: uppercase;
    color: $white;
    background-color: $highlight-medium;
    cursor: pointer;

    &:hover {
      background-color: $highlight-dark;
      @include transition(background 0.2s ease-in-out);
    }

    &:after {
      content: "";
      position: relative;
      top: 1px;
      margin-left: $gutter/2;
      display: inline-block;
      width: 21px;
      height: 14px;
      background-image: url("../img/btn-menu.png") no-repeat 0 0;
      background: -webkit-linear-gradient(transparent,transparent),url("../img/btn-menu.svg") no-repeat 0 0;
      background: -moz-linear-gradient(transparent,transparent),url("../img/btn-menu.svg") no-repeat 0 0;
      background: -o-linear-gradient(transparent,transparent),url("../img/btn-menu.svg") no-repeat 0 0;
      background: linear,false,transparent,transparent,url("../img/btn-menu.svg") no-repeat 0 0;
    }
  }

  &.open {
    z-index: 10;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100vh;
  }
  
  &.open .nav__title {
    position: relative;
    width: 100%;
    text-align: right;
    top: $gutter/2;
    right: 0;
    padding-right: 1.250em;
    background: transparent;
  }

  &.open .nav__title:after {
    top: 0;
    background-image: url("../img/btn-menu-big-close.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent,transparent),url("../img/btn-menu-big-close.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent,transparent),url("../img/btn-menu-big-close.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent,transparent),url("../img/btn-menu-big-close.svg") no-repeat 0 0;
    background: linear,false,transparent,transparent,url("../img/btn-menu-big-close.svg") no-repeat 0 0;
  }

  .nav__layout {
    display: none;
    padding: em(10px) 0;
    color: $white;
  }

  &.open .nav__layout {
    display: block;
  }

  .nav__item {
    border-bottom: 1px solid $highlight;
  }

  .nav__link {
    padding: em(7.5px) $gutter;
    line-height: em(35px);
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    transition: background 0.2s ease;
  }

  .nav__item.active .nav__link,
  .nav__item.active-trail .nav__link,
  .nav__link:hover {
    background-color: $highlight-dark;
  }

  .nav__list .nav__list {
    display: none;
  }
}


//*** MAIN MENU ***
.nav__main {
  display: none;
}


//*** SECONDARY MENU ***
.nav__secondary {
  display: none;
}


//*** SUB MENU ***
.nav__sub {
  float: left;
  width: 100%;
  margin-bottom: em(10px);

  .nav__link {
    padding: em(5px) em(10px);
    margin-bottom: em(5px);
    color: inherit;
    background: $grey;
  }

  .nav__item.active .nav__link,
  .nav__item.active-trail .nav__link,
  .nav__link:hover {
    background: $grey-medium;
  }
}


//*** FOOTER MENU ***
.nav__footer {
  float: left;
  width: 100%;
  margin-top: 2em;
  text-align: center;

  .nav__title {
    @extend h3;
    font-weight: 800;
  }

  .nav__list {
  }

  .nav__item {
    display: block;
  }

  .nav__link {
    color: inherit;
  }

  .nav__item.active .nav__link,
  .nav__item.active-trail .nav__link,
  .nav__link:hover {
    text-decoration: underline;
  }
}


//*** BOTTOM MENU ***
.nav__bottom {
  float: left;
  width: 100%;
  margin-bottom: em(20px);
  text-align: center;

  .nav__title {
    @extend h3;
  }

  .nav__list {
  }

  .nav__item {
    display: block;
  }

  .nav__link {
    color: inherit;
  }

  .nav__item.active .nav__link,
  .nav__item.active-trail .nav__link,
  .nav__link:hover {
    text-decoration: underline;
  }
}


//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

  //*** SUB MENU ***
  .nav__sub {

    .nav__item {
      display: inline-block;
    }
  }


  //*** FOOTER MENU ***
  .nav__footer {
    @include span-columns($grid-columns/2 omega);
    margin-top: 0;
    text-align: left;
  }

}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

  //*** MAIN MENU ***
  .nav__main {
    display: inline-block;
    position: relative;
    top: em(4px);
    margin-left: 3em;

    .nav__title {
      display: none;
    }

    .nav__item {
      display: inline-block;
    }

    .nav__link {
      line-height: em(42px);
      color: inherit;
      padding: 0 1em;
    }

    .nav__item.active .nav__link,
    .nav__item.active-trail .nav__link,
    .nav__link:hover {
      background: $highlight-medium;
      color: $white;
    }
  }

  //*** MOBILE MENU ***
  .nav__mobile {
    display: none;
  }


  //*** SECONDARY MENU ***
  .nav__secondary {
    float: right;
    display: block;
    font-size: em(14px);

    .nav__list .nav__list {
      display: none;
    }

    .nav__item {
      float: left;
      text-align: center;
    }

    .nav__link {
      padding: 0 em(10px);
      line-height: em(35px);
      color: inherit;
    }

    .nav__item.active .nav__link,
    .nav__item.active-trail .nav__link,
    .nav__link:hover {
      background: $highlight-medium;
      color: $white;
    }
  }

  //*** SUB MENU ***
  .nav__sub {
    .nav__item {
      display: block;
    }
  }
  

  //*** FOOTER MENU ***
  .nav__footer {
    @include span-columns(3);
  }

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

  //*** MAIN MENU ***
  .nav__main {
    //line-height: em(42px);
    top: em(5px);

    .nav__link {
      line-height: em(54px);
    }
  }


  //*** SECONDARY MENU ***
  .nav__secondary {

    .nav__link {
      padding: 0 em(10px);
    }
  }

}


//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {

}
