//------------------------------------------------------------------------------
// NEWS.SCSS *******************************************************************
// Default news styling
//------------------------------------------------------------------------------

//*** GENERAL ***
.news__item--teaser,
.events__item--teaser {
  padding: 1em;

  a:not([class*="btn"]) {
    color: $black;
    text-decoration: none;

    &:link, &:visited, &:active {
      color: inherit;
    }

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  .btn {
    background-color: $blue;
    border-color: shade($blue, 20%);

    &:hover {
      background-color: tint($blue, 20%);
    }
  }
}

.events__item--promoted {
  margin-bottom: 0;
}

.news__date,
.events__date {
  font-style: italic;
}

.news__date--page,
.events__date--page {
  margin-bottom: em(10px);
}

.news__tags,
.events__tags {
  font-size: em(14px);
  line-height: em(18px);
  margin-bottom: .7em;

  &:before {
    content: '';
    display: inline-block;
    margin-right: 0.5em;
    background-image: url("../img/tags.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/tags.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/tags.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/tags.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/tags.svg") no-repeat 0 0;
    background-size: contain;
    width: em(18px);
    height: em(18px);
    vertical-align: bottom;
  }
}

.news__item-title--teaser,
.events__item-title--teaser {
  font-family: $notoserif;
  margin-bottom: 0.7em;
}

.events__item-title--promoted {
  @include hyphenate();
  @include font(28);
  margin: 0 0 em(10px);
  font-family: $notoserif;
}

.events__item-link--promoted {
  text-decoration: none;
  color: inherit;
}

.news__date,
.events__date {
  font-size: em(14px);
  line-height: em(18px);
  margin-bottom: .7em;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 0.3em;
    background-image: url("../img/calendar.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/calendar.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/calendar.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/calendar.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/calendar.svg") no-repeat 0 0;
    background-size: contain;
    width: em(18px);
    height: em(18px);
    position: relative;
    top: em(2px);
  }
}

.events__date--promoted {
  @include font(18);
  margin-bottom: 1.5em;
}

@keyframes start {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    @include transform(translateX(1em));
  }
}

.event__link {
  position: relative;
  display: block;
  padding: 1.5em 0;
  text-decoration: none;
  color: $white;
  @include break-out($gutter, 'left');
  margin-right: $gutter * -1;
  padding-right: em(50px) + 2em + $gutter;

  &::after {
    content: '';
    position: absolute;
    right: 1em + $gutter;
    top: 50%;
    display: block;
    margin-top: em(-25px);
    width: em(50px);
    height: em(50px);
    background-image: url("../img/right-chevron.png") no-repeat 0 0;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
    background: -moz-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
    background: -o-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
    background: linear, false, transparent, transparent, url("../img/right-chevron.svg") no-repeat 0 0;
    background-size: contain;
  }

  &:hover::after {
    animation: start .4s;
  }

}

.event__link--venue {
  background-color: tint($highlight-light, 30%);
  &:hover {
    background-color: tint($highlight-light, 25%);
  }
}

.event__link--program {
  background-color: darken($highlight-light, 20%);
  &:hover {
    background-color: darken($highlight-light, 25%);
  }
}

.event__link--registration {
  background-color: darken($highlight-medium, 45%);
  &:hover {
    background-color: darken($highlight-medium, 50%);
  }
}

.event__link-title {
  @include font(20);
  margin-bottom: 1em;
  font-family: $notoserif;

}

.events__item--promoted {
  .event__sponsor {
    padding-top: 3em;
    margin-bottom: 2em;
  }
}

.news__latest {
  padding: 3em 0;
  width: 100%;

  > .layout__btn {
    text-align: right;

    .btn--more {
      margin-top: 0;
    }
  }
}

.events__article {
  float: left;
  width: 100%;
  padding-top: 3em;
}

.node-type-events-promote {
  .events__article {
    margin-bottom: 0;
  }

  .panel__item--top {
    margin-bottom: 0;
  }

  .panel__item--bottom {
    padding-top: 0;
  }

}

.pane__program {
  margin-top: 2em;
  padding: 2em 0;
  @include break-out();
  background-color: $white-medium;
}

.pane__venue {
  margin-top: 2em;
  padding: 2em 0 3em;
  @include break-out();
  background-color: $white;

}

.timeline {
  margin-bottom: 0.5em;
}

.timeline-label {
}

.timeline-label {
  display: block;
  font-weight: 800;
}

.timeline-session { }

.timeline-presenter {
  &::before {
    content: '-';
    display: inline;
    margin: 0.5em;
  }
}

.timeline__file { }

.events__description {
  padding-top: 1em;
}

.events__item--teaser-promoted {
  @include display(flex);
  padding: 3em $gutter 3em 0;
}

.events__item-title--teaser-promoted {
  font-family: $notoserif;
  margin-bottom: 0.7em;
}

.events__item-link--teaser-promoted {
  text-decoration: none;
  color: inherit;
}

.pane__events-sponsors {
  margin: 2em 0;
  padding: 3em 0;
  @include break-out();
  background-color: $white;

  .pane__title {
    font-family: $notoserif;
  }
}

.sponsor__item {
  display: inline-block;
  padding: $gutter/2;
}

.events__sponsor-info {
  margin-bottom: 1.5em;
}

.pane__news,
.view-display-id-news_panel {
  float: left;
  width: 100%;

  .news__item {
    float: left;
    width: 100%;
  }
}

//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {
  .news__latest {
    @include display(flex);
    @include flex-wrap(wrap);

    .news__item--teaser,
    .events__item--teaser {
      @include display(flex);
      @include flex-direction(column);
      @include flex(0 0 auto);
      width: 50%;
      padding: 0 $gutter/2 0 0;

      .layout__btn {
        margin-top: auto;
      }
    }

    > .layout__btn {
      width: 100%;
      margin-top: auto;
    }

    .news__item--teaser + .news__item--teaser,
    .events__item--teaser + .news__item--teaser,
    .news__item--teaser + .events__item--teaser,
    .events__item--teaser + .events__item--teaser {
      padding: 0 0 0 $gutter/2;
    }
  }

  .pane__news,
  .view-display-id-news_panel {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    .views__news-item {
      @include display(flex);
      @include flex(1 0 auto);
      width: 50%;
    }

    .news__item,
    .events__item {
      @include display(flex);
      @include flex-direction(column);
    }

    .layout__btn {
      margin-top: auto;
    }
  }
}

//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {
  .news__latest {
    padding-bottom: 0;
    padding-right: $gutter;

    > .layout__btn {
      margin-right: 2em - $gutter;
    }
  }

  .node-type-events-promote {
    .events__article {
      @include display(flex);
    }
  }

  .events__item--promoted {
    @include display(flex);
  }

  .layout__event-info {
    @include span-columns(5 of 9);
  }

  .layout__event-links {
    @include span-columns(4 omega of 9);
    @include display(flex);
    @include flex(1 0 auto);
    @include flex-direction(column);
  }

  .event__link {
    margin: 0;
    padding-left: $grid-columns;
    @include display(flex);
    @include flex(1 0 auto);
    @include flex-wrap(wrap);
    @include align-content(center);
  }

  .pane__events-sponsors {
    margin: 0 0 0 -100%;
    width: 100%;
    padding: 0 $gutter 0 100%;
    @include display(flex);
    @include flex-direction(column);

    .pane__title {
      margin-top: 2em;
    }
  }

  .events__sponsor-list {
    margin-bottom: 2em;
  }

  .pane__program {
    margin-right: 0;
    margin-top: 0;
    padding-right: $gutter;
  }

  .pane__venue {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: $gutter;
  }
}

//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

  .pane__news,
  .view-display-id-news_panel {
    .views__news-item {
      width: 33%;
    }
  }

}

//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {

}
