//--------------------------------------------------------------------------------
// TABLE_FIELD.SCSS **************************************************************
// General tablefield styling
//--------------------------------------------------------------------------------


.table-field {
  width: 100%;
  float: left;
  margin-bottom: em(20px);
}

.table-field__head {
  display: none;
}

.table-field__body {

}

.table-field__row {
  margin-bottom: em(20px);
}

.table-field__cell {
  padding: em(5px) em(10px);

  &.odd {
    background: $grey-light;
  }

  &.even {
    background: $grey;
  }

  &:before {
    content: " "attr(data-label) ": \00a0";
    display: inline-block;
    font-weight: bold;
  }
}


//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

  .table-field {
    display: table;
    table-layout: fixed;
    margin-bottom: em(20px);
  }

  .table-field__head {
    display: table-header-group;
    background: $grey-dark;
    color: $white;
    font-weight: bold;
  }

  .table-field__body {
    display: table-row-group;
  }

  .table-field__row {
    display: table-row;

    &.odd {
      background: $grey-light;
    }

    &.even {
      background: $grey;
    }
  }

  .table-field__cell {
    display: table-cell;

    &.odd,
    &.even {
      background: transparent;
    }

    &:before {
      content: none;
    }
  }

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

}


//-------------
//-- BREAK 4 --
//-------------
@include media($break-4) {

}
