//------------------------------------------------------------------------------
// FORMS_INCLUDE.SCSS **********************************************************
// Default form styling
//------------------------------------------------------------------------------


// Some reset that isn't in Eric Meyer's reset.css
*:focus {
  outline: none; // Prevent yellow outline in Chrome
}

input,
textarea,
select {
  border-radius: 4px;
  background-color: $white;
  color: $blue-dark;
}

input,
textarea {
  @include selection;
}

.entityform {
  padding-bottom: 3em;
}

.form-item {
  float: left;
  width: 100%;
  margin-bottom: em(15px);
}

.form-wrapper {
  padding-top: 0.75em;
  overflow: hidden;
}

fieldset > * {
  float: left;
  width: 100%;
}

form,
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
textarea,
select {
  float: left;
  width: 100%;
  padding: em(25px) em(10px);
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  border: 1px solid $grey-dark;
  font-size: $font-size;

  &:focus {
    border-color: $highlight;
  }
}

textarea {
  font-family: $base-font-family;
  resize: vertical;
  max-size: 100%;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"] {
  height: em(35px);
}

input[type='radio'],
input[type='checkbox'] {
  -webkit-appearance:none;
  display: inline-block;
  position: relative;
  top: em(5px);
  margin: 0 em(10px) 0 0;
  padding: 0;
  background: $white;
  border: 1px solid $grey-dark;
  border-radius: 0;
  width: em(20px);
  height: em(20px);
  outline: none;
  @include transition(border-color 0.3s ease-in-out, background-color 0.3s ease-in-out);
  &:hover,
  &:focus {
    border-color: $highlight-dark;
    outline: 0;
    cursor: pointer;
  }
  &:disabled {
    opacity: .5;
    background: #E2E2E2;
    &:hover {
      border-color: $grey;
      cursor: default;
    }
  }
  & + label {
    display: inline-block;
    width: auto;
    float: none;
  }
}

input[type='checkbox'] {
  background-position: 50% 50%;
  @include transition(background-color ease-in-out .1s);
  &:checked,
  &:disabled:checked {
    background-image: url('../img/check.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $highlight;
    border: 0;
  }
}

input[type='radio'] {
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0px $highlight;
  @include transition(box-shadow .1s cubic-bezier(0.28,0.63,0.77,0.17));
  &:checked,
  &:disabled:checked {
    background: $highlight;
    box-shadow: inset 0px 0px 0px 5px white;
  }
}

button,
input[type="button"],
input[type="submit"] {
  margin: 2em 0;
  padding: em(10px) em(25px);
  border: 1px solid $highlight-medium;
  background: $highlight-dark;
  vertical-align: baseline;
  font-family: $opensans;
  font-weight: 400;
  font-size: 1em;
  color: $white;
  cursor: pointer;

  &:hover {
    background: tint($highlight-dark, 10%);
    border-color: tint($highlight-medium, 20%);
  }
}

.form-actions {
  width: 100%;
}

.field-type-markup {
  width: 100%;
}

.form-actions input[type="submit"] {
  float: left;
}

label,
legend,
small {
  float: left;
  width: 100%;
  @include font(14,1,16);
  color: $blue;
}

.label--inline {
  width: auto;
  height: auto;
  line-height: inherit;

  &:after {
    content: ": ";
    margin-right: em(15px);
  }
}

label.required:after {
  content: " *";
}

small,
.description {
  @include font(11);
}

.form-radios,
.form-checkboxes {
  float: left;
  width: 100%;

  > div {
    float: left;
    width: 100%;
    margin-bottom: em(5px);
  }

  label {
    margin: 0;
  }
  
  input,
  label {
    height: em(20px);
    line-height: em(15px);
  }
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="submit"],
textarea {
  -webkit-appearance: none; //Prevent rounded corners and shadow on IOS
}

.url-textfield {
  display: none;
}


//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

  input[type="submit"] {
    width: auto;
  }

}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  textarea,
  select,
  small,
  .form-radios,
  .form-checkboxes {
    max-width: em($break-1-w);
  }

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  textarea,
  select,
  small,
  .form-radios,
  .form-checkboxes {
    max-width: em($break-2-w);
  }

}
