//------------------------------------------------------------------------------
// FORMS_INCLUDE.SCSS **********************************************************
// Default form styling
//------------------------------------------------------------------------------


// Some reset that isn't in Eric Meyer's reset.css
*:focus {
  outline: none; // Prevent yellow outline in Chrome
}

.fieldset-description {
  @include font(12px, 1, 16px);
  margin: 7px 0;
  text-align: center;
}

.entityform {
  padding-bottom: 3em;
  overflow: hidden;
}

.form-item {
  float: left;
  width: 100%;
  margin-bottom: em(15px);
}

.form-wrapper {
  float: left;
  width: 100%;
}

// ** INPUTS
input {
  -webkit-appearance: none;
}

// Types email, number, password, search, tel, text, url, color, date, datetime,
// datatime-local, month, time, week
#{$all-text-inputs},
textarea {
  border-radius: 4px;
  height: 58px;
  padding: 18px;
  width: 100%;
  outline: none;
  border: 1px solid $grey-dark;
  &:focus,
  &:focus:hover {
    border-color: $highlight;
    outline: 0;
  }
  &:disabled {
    background: lighten($grey-dark, 10%);
    cursor: no-drop;
  }
}

input.admin-menu-search {
  height: auto;
}

textarea {
  padding: 10px;
  height: 80px;
  &:focus,
  &:focus:hover {
    border-color: $highlight;
    outline: 0;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  height: 5px;
  border: 1px solid $grey-dark;
  background-color: $grey-dark;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: lighten($grey-dark, 20%);
    border: 1px solid $grey-dark;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  &:focus,
  &:focus:hover {
    outline: 0;
  }
}

input[type='radio'],
input[type='checkbox'] {
  -webkit-appearance:none;
  display: inline-block;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  background: $white;
  border: 1px solid $highlight;
  border-radius: 3px;
  width: 17px;
  height: 17px;
  outline: none;

  &:hover,
  &:focus {
    border-color: darken($highlight, 20%);
    outline: 0;
    cursor: pointer;
  }
  &:disabled {
    opacity: .5;
    background: #E2E2E2;
    cursor: no-drop;
    &:hover {
      border-color: $highlight;
    }
  }
  & + label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
  }
}

input[type='checkbox'] {
  background-position: 50% 50%;
  @include transition(background-color ease-in-out .1s);
  &:checked,
  &:disabled:checked {
    background: {
      image: url('../img/check.svg');
      position: 50% 50%;
      repeat: no-repeat;
      color: $white;
    }

    + label {
      &:before {
        content: '';
        display: block;

        position: absolute;
        width: 23px;
        height: 16px;

        left: -32px;
        bottom: 1px;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          content: none;
        }
        @-moz-document url-prefix() {
          content: none;
        }

        background: {
          image: url('../img/check.svg');
          position: 50% 50%;
          repeat: no-repeat;
          size: cover;
        }
      }
    }
  }
}

input[type='radio'] {
  border-radius: 50%;
  box-shadow: none;
  @include transition(box-shadow .1s cubic-bezier(0.28,0.63,0.77,0.17));
  &:checked,
  &:disabled:checked {
    background: $highlight;
    box-shadow: inset 0px 0px 0px 5px white;
  }
}

// Types button, reset, submit
#{$all-button-inputs} {
  margin: 2em 0;
  padding: em(10px) em(25px);
  border: 1px solid $highlight-medium;
  background: $highlight-dark;
  vertical-align: baseline;
  font-family: $opensans;
  font-weight: 400;
  font-size: 1em;
  color: $white;
  cursor: pointer;
  outline: 0;
  &:focus,
  &:focus:hover {
    outline: 0;
  }
}

input.error {
  color: red;
}

// ** LABELS
label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-type-textfield,
.form-type-date-popup,
.form-type-select {
  .js & {
    label {
      position: absolute;
      padding: 0 18px;
      pointer-events: none;
      overflow: hidden;
      max-height: 0px;
      min-height: 100%;
      color: $highlight;
      @include transition(opacity 0.3s/2 ease, top 0.3s/2 ease, height 0.3s/2 ease);
      @include font(14px, 1, 16px);
      z-index: 2;
    }
    input {
      @include transition(padding 0.3s/2 ease);
      color: $blue-dark;
    }
  }
}

.form-type-textfield,
.form-type-date-popup {
  .js & {
    label {
      opacity: 0;
      top: 0;
    }
  }
}
.form-type-date-popup {
  > label {
    display: none;
  }
  input::-ms-clear {
    display: none;
  }
}
.form-type-select {
  .js & {
    label {
      top: 5px;
    }
  }
}

.form-item {
  position: relative;
  margin: 10px 0;
  float: left;
  width: 100%;

  &.populated {
    label {
      height: auto;
      min-height: 20px;
      opacity: 1;
      top: 5px;
    }
    input {
      font-style: normal;
      @include font(17px, 1, 16px);
      color: $grey-dark;
      padding-top: 27px;
      padding-bottom: 8.5px;
    }
  }
}

// ** SELECTS
select {
  height: 58px;
  width: 100%;
  border: 1px solid $grey-dark;
  -webkit-appearance: none;
  -moz-appearance: none;

  $arrow-size: 7px;
  background: {
    color: $white;
    repeat: no-repeat;
    image:
        linear-gradient(45deg, transparent 50%, $grey-dark 50%),
        linear-gradient(135deg, $grey-dark 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $grey-dark 50%),
        linear-gradient(45deg, $grey-dark 50%, transparent 50%);
    position:
        calc(100% - 20px) 30px,
        calc(100% - 13px) 30px,
        calc(100% - 20px) 15px,
        calc(100% - 13px) 15px;
    // calc(100% - 2.5em) 8px;
    size:
        $arrow-size $arrow-size,
        $arrow-size $arrow-size,
        $arrow-size $arrow-size,
        $arrow-size $arrow-size;
    // 1px 100%;
  }
  padding: 14px 40px 14px 18px;
  border-radius: 4px;
  &:focus,
  &:focus:hover {
    border-color: $blue-medium;
    outline: 0;
  }
  &:disabled {
    background: lighten($grey-dark, 10%);
    cursor: no-drop;
  }
  // Remove fugly arrow in IE
  &::-ms-expand {
    display: none;
  }
}

// ** HINTS
small,
.password-suggestions {
  display: block;
  color: lighten(grey, 20%);
  margin-top: 10px;
  @include font(10px, 1, 16px);
}

// ** FIELDSETS
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  legend {
    color: $highlight;
    font-weight: bold;
    padding: 5px 10px 0 0;
    @include font(16px, 1, 16px);
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

    + .fieldset-wrapper {
      > .fieldset-description {
        margin-top: 0;
        @include font(14px, 1, 16px);
        // margin-top: -15px;
        margin-bottom: 0;
      }
    }
  }
  fieldset {
    legend {
      font-weight: normal;
    }
  }
}

//*************************
//***** MEDIA QUERIES *****
//*************************

//-------------
//-- BREAK 1 --
//-------------
@include media($break-1) {

  input[type="submit"] {
    width: auto;
  }

  fieldset {
    legend {
      text-align: left;
      margin-bottom: 15px;
      @include font(18px, 1, 16px);
    }
  }

  .fieldset-description {
    text-align: left;
    @include font(14px, 1, 16px);
    margin: 12px 0;
  }
}


//-------------
//-- BREAK 2 --
//-------------
@include media($break-2) {

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  textarea,
  select,
  small,
  .form-radios,
  .form-checkboxes {
    max-width: em($break-1-w);
  }

}


//-------------
//-- BREAK 3 --
//-------------
@include media($break-3) {

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  textarea,
  select,
  small,
  .form-radios,
  .form-checkboxes {
    max-width: em($break-2-w);
  }
}
