@charset "UTF-8";

@import url("//fonts.googleapis.com/css?family=Open+Sans");

@import url("//fonts.googleapis.com/css?family=Noto+Serif");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

article,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

h2.pane__title {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

.element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.pane__title,
h2,
h3,
.pane__title {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-character: "-";
  -moz-hyphenate-character: "-";
  -ms-hyphenate-character: "-";
  -o-hyphenate-character: "-";
  hyphenate-character: "-";
  -ms-word-break: normal;
  word-break: normal;
  word-wrap: break-word;
  margin: 0 0 0.625em;
}

h2.pane__title {
  font-size: 1.75em;
  line-height: 1.5em;
  font-family: "Noto Serif", serif;
}

h2 {
  font-size: 1.375em;
  line-height: 1.3090909091em;
  font-family: "Noto Serif", serif;
}

h3,
.pane__title {
  font-size: 1.125em;
  line-height: 1.5em;
}

.item-title {
  font-size: 1.125em;
  line-height: 1.5em;
}

p {
  font-size: 1em;
  margin: 0 0 1.25em;
}

a {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 0.5em 0.9375em;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #FFFFFF;
}

.btn--more {
  margin-top: 1.5em;
  color: #FFFFFF;
  background-color: #42b9a2;
  border-color: #3eb09a;
  font-weight: 800;
}

.btn--more:after {
  content: " \003E";
}

img {
  max-width: 100%;
  height: auto;
}

body:after {
  content: "default";
  display: block;
  height: 0;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 0.625em;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

#logo {
  width: auto;
}

#logo img {
  height: 3.125em;
}

#top,
#header,
#main,
#content {
  float: left;
  width: 100%;
}

#top {
  background-color: #F9F9F9;
}

#header {
  background-color: #FFFFFF;
  padding: 1.25em 0 1.25em 0;
  z-index: 2;
  color: #000000;
}

#main {
  background-color: #F9F9F9;
}

@media screen and (min-width: 30em) {
  body:after {
    content: "break-1";
  }
}

@media screen and (min-width: 48em) {
  body:after {
    content: "break-2";
  }

  #logo {
    display: inline-block;
    line-height: 3.5em;
  }

  #logo img {
    height: 3.5em;
    vertical-align: bottom;
  }
}

@media screen and (min-width: 60em) {
  body:after {
    content: "break-3";
  }

  #logo {
    width: auto;
    height: 4.6875em;
    display: inline-block;
  }

  #logo {
    line-height: 4.6875em;
  }

  #logo img {
    height: 4.6875em;
  }
}

@media screen and (min-width: 75em) {
  body:after {
    content: "break-4";
  }
}

article {
  float: left;
  margin-bottom: 1em;
  width: 100%;
}

.panel__item {
  float: left;
  width: 100%;
}

.panel__item--top {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  margin-bottom: 2em;
}

@media screen and (min-width: 48em) {
  .panel__item--top {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 60em) {
  .panel__item--top {
    margin-bottom: 5em;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: block;
  text-decoration: none;
}

.nav__mobile {
  background-color: #8FDEE3;
  overflow: visible;
}

.nav__mobile .nav__title {
  position: absolute;
  top: 0;
  right: 0.625em;
  width: auto;
  height: auto;
  padding: 0.625em;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #8FDEE3;
}

.nav__mobile .nav__title:after {
  content: "";
  position: relative;
  top: 1px;
  margin-left: 0.625em;
  display: inline-block;
  width: 21px;
  height: 14px;
  background-image: url("../img/btn-menu.png") no-repeat 0 0;
  background: -webkit-linear-gradient(transparent, transparent), url("../img/btn-menu.svg") no-repeat 0 0;
  background: -moz-linear-gradient(transparent, transparent), url("../img/btn-menu.svg") no-repeat 0 0;
  background: -o-linear-gradient(transparent, transparent), url("../img/btn-menu.svg") no-repeat 0 0;
  background: linear, false, transparent, transparent, url("../img/btn-menu.svg") no-repeat 0 0;
}

.nav__mobile .nav__layout {
  display: none;
  padding: 0.625em 0;
  color: #FFFFFF;
}

.nav__mobile .nav__item {
  border-bottom: 1px solid #8FDEE3;
}

.nav__mobile .nav__link {
  padding: 0.46875em 1.25em;
  line-height: 2.1875em;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav__main {
  display: none;
}

.nav__secondary {
  display: none;
}

@media screen and (min-width: 48em) {
  .nav__main {
    display: inline-block;
    position: relative;
    top: 0.25em;
    margin-left: 3em;
  }

  .nav__main .nav__title {
    display: none;
  }

  .nav__main .nav__item {
    display: inline-block;
  }

  .nav__main .nav__link {
    line-height: 2.625em;
    color: inherit;
    padding: 0 1em;
  }

  .nav__mobile {
    display: none;
  }

  .nav__secondary {
    float: right;
    display: block;
    font-size: 0.875em;
  }

  .nav__secondary .nav__item {
    float: left;
    text-align: center;
  }

  .nav__secondary .nav__link {
    padding: 0 0.625em;
    line-height: 2.1875em;
    color: inherit;
  }
}

@media screen and (min-width: 60em) {
  .nav__main {
    top: 0.3125em;
  }

  .nav__main .nav__link {
    line-height: 3.375em;
  }

  .nav__secondary .nav__link {
    padding: 0 0.625em;
  }
}

.pane--bean {
  float: left;
  width: 100%;
  padding: 0.9375em;
  text-align: center;
}

.pane--bean *:last-child {
  margin-bottom: 0;
}

.pane--cta {
  background-color: #F9F9F9;
}

.pane--info {
  background-color: transparent;
}

.pane--bean-has-link {
  padding: 0;
}

.pane__link {
  display: block;
  padding: 3em 1em;
  color: inherit;
}

.pane__title {
  margin-bottom: 1em;
  font-weight: 700;
}

h2.pane__title {
  font-weight: normal;
}

.pane__event--promoted {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  box-ordinal-group: -1;
  -webkit-order: -1;
  -moz-order: -1;
  order: -1;
  -ms-flex-order: -1;
  width: 100%;
  padding: 2em 0 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -100%;
  margin-right: -100%;
  padding-left: 100%;
  padding-right: 100%;
  background-color: #FFFFFF;
}

.pane__event--promoted > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pane__become-member {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  box-ordinal-group: 0;
  -webkit-order: 0;
  -moz-order: 0;
  order: 0;
  -ms-flex-order: 0;
  margin-bottom: 3em;
  padding-top: 3em;
}

.pane--registration {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
  -ms-flex-order: 1;
  margin-bottom: 0.625em;
  background-color: #EFEEEC;
}

.pane--registration .pane__title {
  font-size: 1.25em;
  line-height: 1.5em;
}

.pane__standard-member {
  background-color: #8FDEE3;
  color: #FFFFFF;
}

.pane--bean-has-link > .pane__link {
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .pane__become-member {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-top: 1em;
  }

  .pane__become-member .pane__title {
    margin-top: 0.9em;
  }

  .pane--registration {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 40%;
  }

  .pane--registration .pane__link {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .pane--registration .layout__pane {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 60em) {
  .pane__become-member {
    width: 100%;
  }
}

@media screen and (min-width: 75em) {
  .pane--registration {
    width: 35%;
  }
}

.events__item--promoted {
  margin-bottom: 0;
}

.events__date {
  font-style: italic;
}

.events__item-title--promoted {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-character: "-";
  -moz-hyphenate-character: "-";
  -ms-hyphenate-character: "-";
  -o-hyphenate-character: "-";
  hyphenate-character: "-";
  -ms-word-break: normal;
  word-break: normal;
  word-wrap: break-word;
  font-size: 1.75em;
  line-height: 1.5em;
  margin: 0 0 0.625em;
  font-family: "Noto Serif", serif;
}

.events__item-link--promoted {
  text-decoration: none;
  color: inherit;
}

.events__date {
  font-size: 0.875em;
  line-height: 1.125em;
  margin-bottom: .7em;
}

.events__date::before {
  content: '';
  display: inline-block;
  margin-right: 0.3em;
  background-image: url("../img/calendar.png") no-repeat 0 0;
  background: -webkit-linear-gradient(transparent, transparent), url("../img/calendar.svg") no-repeat 0 0;
  background: -moz-linear-gradient(transparent, transparent), url("../img/calendar.svg") no-repeat 0 0;
  background: -o-linear-gradient(transparent, transparent), url("../img/calendar.svg") no-repeat 0 0;
  background: linear, false, transparent, transparent, url("../img/calendar.svg") no-repeat 0 0;
  background-size: contain;
  width: 1.125em;
  height: 1.125em;
  position: relative;
  top: 0.125em;
}

.events__date--promoted {
  font-size: 1.125em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.event__link {
  position: relative;
  display: block;
  padding: 1.5em 0;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -1.25em;
  padding-left: 1.25em;
  margin-right: -1.25em;
  padding-right: 6.375em;
}

.event__link > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.event__link::after {
  content: '';
  position: absolute;
  right: 2.25em;
  top: 50%;
  display: block;
  margin-top: -1.5625em;
  width: 3.125em;
  height: 3.125em;
  background-image: url("../img/right-chevron.png") no-repeat 0 0;
  background: -webkit-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
  background: -moz-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
  background: -o-linear-gradient(transparent, transparent), url("../img/right-chevron.svg") no-repeat 0 0;
  background: linear, false, transparent, transparent, url("../img/right-chevron.svg") no-repeat 0 0;
  background-size: contain;
}

.event__link--venue {
  background-color: #74cdf2;
}

.event__link--program {
  background-color: #1180ad;
}

.event__link-title {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-family: "Noto Serif", serif;
}

.events__item--promoted .event__sponsor {
  padding-top: 3em;
  margin-bottom: 2em;
}

.events__description {
  padding-top: 1em;
}

.layout__event-links {
  width: 100%;
  float: left;
}

.sponsor__item {
  display: inline-block;
  padding: 0.625em;
}

@media screen and (min-width: 48em) {
  .events__item--promoted {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .events__item--promoted .layout__event-info {
    width: 54.2857142857%;
    padding-right: 1.25em;
  }

  .events__item--promoted .layout__event-links {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    width: 42.8571428571%;
  }

  .layout__event-info {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .event__link {
    margin: 0;
    padding-left: 9;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    -ms-flex-line-pack: center;
  }

  .event__link-title {
    width: 100%;
  }

  .event__link-info {
    width: 100%;
  }
}
